

.disp_none{
    display: none;
}

#target_img,.main_gallary{
    display: block;
    text-align: center;
    margin: 0 auto;

}
.neko_pictures li{
    list-style: none;
    display: inline;
    
}

.sub_gallary img{
    border-radius: 500px;
}